# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
uv.lock

# IDE
.vscode/
.idea/

# All directories beginning with a dot (except .github/)
.*/
!.github/
