site_name: CAGPJax
repo_url: https://github.com/sethaxen/CAGPJax

theme:
  name: material
  palette:
    - scheme: default
      primary: green
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - scheme: slate
      primary: green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.top
    - content.code.copy

plugins:
  - search
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            relative_crossrefs: true
            show_source: true
            show_root_heading: true
            show_root_toc_entry: true
            heading_level: 1
            docstring_section_style: list
            merge_init_into_class: true
            parameter_headings: true
            separate_signature: true
            show_signature_annotations: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            summary: true
          inventories:
            - https://docs.jax.dev/en/latest/objects.inv
            - https://docs.jaxgaussianprocesses.com/objects.inv
            - https://cola.readthedocs.io/en/stable/objects.inv
  - api-autonav:
      modules: ['src/cagpjax']
      nav_section_title: "Reference"
      nav_item_prefix: ""

nav:
  - Home: index.md

markdown_extensions:
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences 
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
